.galleryTransitionPhoto {
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background: #97a9b2;
    height: 100vh;

    &Image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: none;
        object-fit: cover;
        border-radius: 4px;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.5s;
    }

    &Image[data-active=true] {
        display: block;
        opacity: 1;
        z-index: 3;
    }
    &Image[data-active=prepared] {
        display: block;
    }
}
